@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ChiefOfTheFoundry.Models.MetaCard metaCard = ViewBag.Metacard;
}
<div>
    <h1>Collection Manager</h1>
    <h2>@metaCard.Name</h2>
    <div class="container">
        <input id="metacardId" type="hidden" value="@metaCard.Id" />
        <div id="cardCopiesInCollection">

        </div>
    </div>
</div>
<script>
    var currentPage = 'GetCardCopiesInCollection';
</script>